

.form-floating input{
    height: auto;
}

.btn-close{
    display: none;
}

.close-icon{
    width: 20px;
    cursor: pointer;
}

.use-css{
    button{
        background-color: #2e71cf !important;
    }
}

.date-input-record{
    width: -webkit-fill-available;
    padding: 8px;
    border-radius: 8px;
}